﻿
body {
    /*min-width: 1500px;*/
    width: 100%;
    overflow-x: hidden;
}

.smallTB {
    width: 50px;
    height: 22px;
}

.mediumTB {
    width: 150px;
    height: 22px;
}

.largeTB {
    width: 200px;
    height: 22px;
}

label {
    width: 220px;
    clear: left;
    text-align: right;
    margin-top: 1px;
    padding-right: 10px;
    padding-left: 20px;
    float: left;
}

.estlbl {
    width: auto;
    float: none;
}

input {
    margin-right: 3px;
    margin-top: 3px;
    float: left;
}

col-xs-6 .btn {
    width: 150px;
    font-size: smaller;
}

.btn.dropdown-toggle {
    width: 150px;
    height: 26px;
    font-size: smaller;
}

.panel-heading {
    height: 30px;
    padding: 5px 20px;
}

.panel {
    margin-bottom: 10px;
}

.details {
}

.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav-tabs, .nav-pills {
    text-align: center;
}

.brand {
    padding-right: 40px;
}

.col-xs-6 {
    /*
                     display: block;
                     margin-left: auto;
                     margin-right: auto;
                 */
}

.col-fixed, .row {
}

.col-fixed {
    width: 800px;
}


.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.green {
    color: #689d50;
}

.blue {
    color: #66a4c3;
}

.red {
    color: #b25656;
}

.glyphicon-arrow-left {
    color: #689d50;
}


/* spinner css starts here *******************************  */

.spinner {
    margin: -27px 292px; /*Possitioning*/
    width: 20px;
    height: 20px;
    position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
    width: 6px;
    height: 6px;
    background-color: #333;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle1 {
    top: 0;
    left: 0;
}

.circle2 {
    top: 0;
    right: 0;
}

.circle3 {
    right: 0;
    bottom: 0;
}

.circle4 {
    left: 0;
    bottom: 0;
}

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
    }

    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/* spinner css ends here *******************************  */
